@model IEnumerable<Blog.Models.DTO.PostDTO>

    @{
        ViewData["Title"] = "Index";
    }

    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table ">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Titulo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Imagen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Categoria)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha_de_creacion)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titulo)
                    </td>
                    <td>
                        <img width="15%" src="@Url.Action("convertImg", "Home", new { idPost = item.ID})"/>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Categoria)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha_de_creacion)
                    </td>
                    <td>

                        @Html.ActionLink("Edit", "Edit", "Posts", new {  id=item.ID  }) |
                        @Html.ActionLink("Details", "Details", "Posts", new {  idPost=item.ID }) |
                        @Html.ActionLink("Delete", "Delete", "Posts", new { idPost=item.ID  })
                    </td>
                </tr>
            }
        </tbody>
    </table>
